Final_Project/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar40.fulton.asu.edu/Page6/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar40.fulton.asu.edu/Page6/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getsearchedurl_InputMessage">
    <wsdl:part name="parameters" element="tns:getsearchedurl" />
  </wsdl:message>
  <wsdl:message name="IService1_getsearchedurl_OutputMessage">
    <wsdl:part name="parameters" element="tns:getsearchedurlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setTimeFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:setTimeFrame" />
  </wsdl:message>
  <wsdl:message name="IService1_setTimeFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:setTimeFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_setLeague_InputMessage">
    <wsdl:part name="parameters" element="tns:setLeague" />
  </wsdl:message>
  <wsdl:message name="IService1_setLeague_OutputMessage">
    <wsdl:part name="parameters" element="tns:setLeagueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTeamInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMatches" />
  </wsdl:message>
  <wsdl:message name="IService1_ReturnMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMatchesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getsearchedurl">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getsearchedurl" message="tns:IService1_getsearchedurl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getsearchedurlResponse" message="tns:IService1_getsearchedurl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setTimeFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setTimeFrame" message="tns:IService1_setTimeFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setTimeFrameResponse" message="tns:IService1_setTimeFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setLeague">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/setLeague" message="tns:IService1_setLeague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/setLeagueResponse" message="tns:IService1_setLeague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTeamInfo" message="tns:IService1_GetTeamInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTeamInfoResponse" message="tns:IService1_GetTeamInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReturnMatches" message="tns:IService1_ReturnMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReturnMatchesResponse" message="tns:IService1_ReturnMatches_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getsearchedurl">
      <soap:operation soapAction="http://tempuri.org/IService1/getsearchedurl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTimeFrame">
      <soap:operation soapAction="http://tempuri.org/IService1/setTimeFrame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setLeague">
      <soap:operation soapAction="http://tempuri.org/IService1/setLeague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTeamInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnMatches">
      <soap:operation soapAction="http://tempuri.org/IService1/ReturnMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar40.fulton.asu.edu/Page6/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>