Final_Project/Connected Services/EmailServer/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sendplayerinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendplayerinfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendplayerinfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reciever" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="headline" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playerinfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>